Makefile
Makefile.in
.deps/
.libs/
*.o
*.lo
*.la
*~
*.3

/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

/src/vcc_ip2location_if.c
/src/vcc_ip2location_if.h
/src/vmod_vcs_version.txt
/src/*.rst
/m4
